/* Scss Document */
html {
	font-family: $helvetica;
}
.primary-btn{
	@include button($secondary, $white, grey); 
}
.border{
	border:2px solid #aaa;
	p{
		color: red;
	}
}
a{
	text-decoration: none;
	&:hover{
		text-decoration: none;
	}
}

ul{ 
@extend .border;

}

.btn{
	background-color: $primary;
	color:white;
	padding: .5em 1em;
	border-radius: 5px;
	&:hover{
		background-color: #aaa;	
		background: -webkit-gradient(linear, 0 0, 100% 0, from($primary), to($grey));
	}
}

h1{
	color:$primary;
}