/* Scss Document */
html {
	font-family: $helvetica;
}
.primary-btn{
	@include button($secondary, $white, darkblue); 
}
.border{
	border:1px solid #aaa;
	p{
		color: red;
	}
}
a{
	text-decoration: none;
	&:hover{
		text-decoration: none;
	}
}

ul{ 
@extend .border;

}

.btn{
	background-color:$secondary ;
	color:white;
}

h1{
	color:$secondary;
}